<div class="single-post row">
    <div class="col-lg-12">
        <div class="feature-img">
            <img class="img-fluid" src="assets/img/blog/feature-img1.jpg" alt="">
        </div>
    </div>
    <div class="col-lg-3  col-md-3">
        <div class="blog_info text-left">
            <ul class="blog_meta list">
                <li><a href="#">Mark wiens <i class="lnr lnr-user"></i></a></li>
                <li><a href="#">12 Dec, 2017 <i class="lnr lnr-calendar-full"></i></a></li>
                <li><a href="#">1.2M Views <i class="lnr lnr-eye"></i></a></li>
                <li><a href="#">06 Comments <i class="lnr lnr-bubble"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 blog_details">
        <h2>Astronomy Binoculars A Great Alternative</h2>
        <p class="excert">
            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
        </p>
        <p>
            Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
        </p>
        <p>
            Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
        </p>
    </div>
    <div class="col-lg-12">
        <div class="quotes">
            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training.
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="assets/img/blog/post-img1.jpg" alt="">
            </div>
            <div class="col-6">
                <img class="img-fluid" src="assets/img/blog/post-img2.jpg" alt="">
            </div>
            <div class="col-lg-12 mt-25">
                <p>
                    MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
                </p>
                <p>
                    MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="navigation-area">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
            <div class="thumb">
                <a href="#"><img class="img-fluid" src="assets/img/blog/prev.jpg" alt=""></a>
            </div>
            <div class="arrow">
                <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
            </div>
            <div class="detials">
                <p>Prev Post</p>
                <a href="#"><h4>Space The Final Frontier</h4></a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
            <div class="detials">
                <p>Next Post</p>
                <a href="#"><h4>Telescopes 101</h4></a>
            </div>
            <div class="arrow">
                <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
            </div>
            <div class="thumb">
                <a href="#"><img class="img-fluid" src="assets/img/blog/next.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
