<div class="container">
	<input id="item1" type="checkbox" />
	<label
		class="item1"
		for="item1"
		style="background-image: url(https://picsum.photos/750/750?image=501);"
	></label>
	<input id="item2" type="checkbox" />
	<label
		class="item2"
		for="item2"
		style="background-image: url(https://picsum.photos/750/750?image=502);"
	></label>
	<input id="item3" type="checkbox" />
	<label
		class="item3"
		for="item3"
		style="background-image: url(https://picsum.photos/750/750?image=503);"
	></label>
	<input id="item4" type="checkbox" />
	<label
		class="item4"
		for="item4"
		style="background-image: url(https://picsum.photos/750/750?image=504);"
	></label>
	<input id="item5" type="checkbox" />
	<label
		class="item5"
		for="item5"
		style="background-image: url(https://picsum.photos/750/750?image=505);"
	></label>
	<input id="item6" type="checkbox" />
	<label
		class="item6"
		for="item6"
		style="background-image: url(https://picsum.photos/750/750?image=506);"
	></label>
	<input id="item7" type="checkbox" />
	<label
		class="item7"
		for="item7"
		style="background-image: url(https://picsum.photos/750/750?image=507);"
	></label>
	<input id="item8" type="checkbox" />
	<label
		class="item8"
		for="item8"
		style="background-image: url(https://picsum.photos/750/750?image=508);"
	></label>
	<input id="item9" type="checkbox" />
	<label
		class="item9"
		for="item9"
		style="background-image: url(https://picsum.photos/750/750?image=509);"
	></label>
</div>
