/* Team Area css
============================================================================================ */
.team_area {
  background: #f9fafc; }

.team_inner {
  margin-bottom: -50px; }

.team_item {
  position: relative;
  text-align: center;
  margin-bottom: 50px; }
  .team_item .team_img {
    position: relative;
    overflow: hidden; }
  .team_item .team_name {
    text-align: center;
    padding: 20px; }
    .team_item .team_name h4 {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 20px;
      transition: all 300ms linear 0s; }
    .team_item .team_name p {
      margin-bottom: 0px; }
  .team_item .social {
    margin-top: 30px; }
    .team_item .social a {
      font-size: 14px;
      color: #acadb0;
      margin-right: 20px;
      text-align: center;
      height: 30px;
      width: 30px;
      background: transparent;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      border-radius: 20px;
      border: 1px solid #777777;
      transition: all 300ms linear 0s; }
      .team_item .social a:last-child {
        margin-right: 0px; }
      .team_item .social a:hover, .team_item .social a.active {
        background: #60bc0f;
        color: #ffffff;
        border: 1px solid #60bc0f; }
  .team_item:hover .team_img:before {
    opacity: 1; }
  .team_item:hover .team_img .hover {
    bottom: 0px; }
  .team_item:hover .team_name h4 {
    color: #60bc0f; }

/* End Team Area css
============================================================================================ */
