<section class="team_area section_gap">
    <div class="container">
        <div class="main_title">
            <h2>Meet our voluteer</h2>
            <p>Creepeth called face upon face yielding midst is after moveth </p>
        </div>
        <div class="row team_inner">
            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/voluteer/v1.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>Alea Mirslava</h4>
                        <p>Party Manager</p>
                        <p class="mt-20">
                            So seed seed green that winged cattle in kath  moved us land years living.
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/voluteer/v2.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>Adam Virland</h4>
                        <p>Party Manager</p>
                        <p class="mt-20">
                            So seed seed green that winged cattle in kath  moved us land years living.
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/voluteer/v3.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>Adam Virland</h4>
                        <p>Party Manager</p>
                        <p class="mt-20">
                            So seed seed green that winged cattle in kath  moved us land years living.
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/voluteer/v4.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>Adam Virland</h4>
                        <p>Party Manager</p>
                        <p class="mt-20">
                            So seed seed green that winged cattle in kath  moved us land years living.
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
