<section class="banner_area section_gap_bottom">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>{{eventsBanner.mainText}}</h2>
              <p>{{eventsBanner.subText}}</p>
            </div>
        </div>
    </div>
</section>
<app-upcoming-events></app-upcoming-events>
<app-subscribe></app-subscribe>
