/* Start Subscribe Area css
============================================================================================ */
.subscribe_area {
  background: #ee3d23;
  padding: 42px 40px;
  position: relative;
  margin-bottom: -67px;
  z-index: 9999; }
  @media (max-width: 991px) {
    .subscribe_area {
      background: #ee3d23;
      margin-bottom: 70px;
      padding: 50px 40px; } }
  @media (max-width: 767px) {
    .subscribe_area {
      padding: 40px 15px; } }
  .subscribe_area h1 {
    font-size: 36px;
    margin-bottom: 0px; }
    @media (max-width: 1199px) {
      .subscribe_area h1 {
        font-size: 30px; } }
    @media (max-width: 991px) {
      .subscribe_area h1 {
        margin-bottom: 20px;
        text-align: center; } }
  .subscribe_area .subscribe_form {
    margin-left: 109px; }
    @media (max-width: 1199px) {
      .subscribe_area .subscribe_form {
        margin-left: 50px; } }
    @media (max-width: 767px) {
      .subscribe_area .subscribe_form {
        margin: 0 auto; } }
    .subscribe_area .subscribe_form input {
      min-width: 300px;
      background: #ffffff;
      border-radius: 5px;
      border: 0px;
      font-size: 14px;
      padding: 12px 20px; }
      @media (max-width: 767px) {
        .subscribe_area .subscribe_form input {
          min-width: 210px;
          margin-bottom: 15px; } }
      .subscribe_area .subscribe_form input:focus {
        outline: none; }
    @media (max-width: 1199px) {
      .subscribe_area .subscribe_form .primary_btn {
        padding: 0 20px; } }
    .subscribe_area .subscribe_form .primary_btn:hover {
      color: #ffffff !important; }
    @media (max-width: 767px) {
      .subscribe_area .subscribe_form .primary_btn.ml-10 {
        margin-left: 0; } }
    .subscribe_area .subscribe_form .info {
      position: absolute;
      bottom: -28px;
      font-size: 14px; }
  @media (max-width: 991px) {
    .subscribe_area .d-flex {
      -ms-flex-direction: column;
      flex-direction: column; } }

/* End Subscribe Area css
============================================================================================ */
