<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>{{contactBanner.mainText}}</h2>
                <p>{{contactBanner.subText}}</p>
            </div>
        </div>
    </div>
</section>

<section class="contact_area section_gap">
    <div class="container">
      <!-- Map Component -->
      <!-- <app-map-widget></app-map-widget> -->

      <!-- Form Component -->
      <app-contact-form></app-contact-form>
    </div>
</section>

<app-subscribe></app-subscribe>
