<section class="banner_area section_gap_bottom">
	<div class="banner_inner d-flex align-items-center">
		<div
			class="overlay bg-parallax"
			data-stellar-ratio="0.9"
			data-stellar-vertical-offset="0"
			data-background=""
		></div>
		<div class="container">
			<div class="banner_content text-center">
				<h2>{{ aboutBanner.mainText }}</h2>
				<p class="text-capitalize">{{ aboutBanner.subText }}</p>
			</div>
		</div>
	</div>
</section>
<app-about-intro></app-about-intro>
<!-- <app-about-team></app-about-team> -->
<div class="container">
	<div class="section-top-border">
		<h3 class="mb-30 title_color">{{asideA.title}}</h3>
		<div class="row">
			<div class="col-md-3">
				<img src="{{asideA.image}}" alt="" class="img-fluid" />
			</div>
			<div class="col-md-9 mt-sm-20 left-align-p">
				<p>{{asideA.text}}</p>
			</div>
		</div>
	</div>
	<div class="section-top-border text-right">
		<h3 class="mb-30 title_color">{{asideB.title}}</h3>
		<div class="row">
			<div class="col-md-9">
				<p class="text-right">
					{{asideB.text}}
				</p>
			</div>
			<div class="col-md-3">
				<img src="{{asideB.image}}" alt="" class="img-fluid" />
			</div>
		</div>
	</div>
</div>

<app-volunteer></app-volunteer>
