<section class="features_causes">
  <div class="container">
    <div class="main_title">
      <h2>{{page.title}}</h2>
      <p>{{page.subText}}</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let featuredCause of featuredCauses">
        <div class="card">
          <div class="card-body">
            <figure>
              <img class="card-img-top img-fluid" src="{{featuredCause.image}}" alt="Card image cap">
            </figure>
            <div class="card_inner_body">
              <h4 class="card-title">{{featuredCause.title}}</h4>
              <p class="card-text">{{featuredCause.text}}</p>
              <div class="d-flex justify-content-between raised_goal">
                <p>Raised: {{featuredCause.raised}}</p>
                <p><span>Goal: {{featuredCause.goal}}</span></p>
              </div>
              <div class="d-flex justify-content-between donation align-items-center">
                <a routerLink="{{featuredCause.buttonLink}}" class="primary_btn">{{featuredCause.buttonName}}</a>
                <p><span class="lnr lnr-heart"></span> {{featuredCause.donors}} Donors</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
