<section class="event_area section_gap_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="assets/img/event/e1.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a routerLink="/events/event_info" routerLinkActive="active">{{event_1.title}}</a>
                                </h3>
                                <p>{{event_1.subtitle}}</p>
                                <div class="d-flex count_time" id="clockdiv1">
                                    <div class="mr-25">
                                        <h4 class="days">552</h4>
                                        <p>Days</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="hours">08</h4>
                                        <p>Hours</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="minutes">45</h4>
                                        <p>Minutes</p>
                                    </div>
                                    <div>
                                        <h4 class="seconds">30</h4>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                                <a routerLink="/events/event_info" routerLinkActive="active" class="primary_btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="assets/img/event/e2.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a routerLink="/events/event_info" routerLinkActive="active">{{event_2.title}}</a>
                                </h3>
                                <p>{{event_2.subtitle}}</p>
                                <div class="d-flex count_time" id="clockdiv2">
                                    <div class="mr-25">
                                        <h4 class="days">552</h4>
                                        <p>Days</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="hours">08</h4>
                                        <p>Hours</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="minutes">45</h4>
                                        <p>Minutes</p>
                                    </div>
                                    <div>
                                        <h4 class="seconds">30</h4>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                                <a routerLink="/events/event_info" routerLinkActive="active" class="primary_btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="assets/img/event/e3.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a routerLink="/events/event_info" routerLinkActive="active">{{event_3.title}}</a>
                                </h3>
                                <p>{{event_3.subtitle}}</p>
                                <div class="d-flex count_time" id="clockdiv3">
                                    <div class="mr-25">
                                        <h4 class="days">552</h4>
                                        <p>Days</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="hours">08</h4>
                                        <p>Hours</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="minutes">45</h4>
                                        <p>Minutes</p>
                                    </div>
                                    <div>
                                        <h4 class="seconds">30</h4>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                                <a routerLink="/events/event_info" routerLinkActive="active" class="primary_btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="assets/img/event/e4.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a routerLink="/events/event_info" routerLinkActive="active">{{event_4.title}}</a>
                                </h3>
                                <p>{{event_4.subtitle}}</p>
                                <div class="d-flex count_time" id="clockdiv4">
                                    <div class="mr-25">
                                        <h4 class="days">552</h4>
                                        <p>Days</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="hours">08</h4>
                                        <p>Hours</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="minutes">45</h4>
                                        <p>Minutes</p>
                                    </div>
                                    <div>
                                        <h4 class="seconds">30</h4>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                                <a routerLink="/events/event_info" routerLinkActive="active" class="primary_btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
