<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Blog Details</h2>
                <p>Platea nullam nostra laoreet potenti hendrerit laoreet enim nisl</p>
            </div>
        </div>
    </div>
</section>

<section class="blog_area single-post-area section_gap">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 posts-list">
            <app-blog-post></app-blog-post>
            <app-blog-comments></app-blog-comments>
          </div>
          <div class="col-lg-4">
              <app-blog-widget></app-blog-widget>
          </div>
      </div>
  </div>
</section>
