/* Start CTA Area css
============================================================================================ */
.cta-area {
  background: #FECA06;
  background-size: cover;
  text-align: center;
  color: #fff;
  z-index: 1; }
  .cta-area.overlay:after {
    background: #000;
    opacity: .5; }
  .cta-area h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px; }
  .cta-area .primary-btn {
    margin-top: 15px; }
  .text-dark {
    color: #0b0b0b;
  }

/* End CTA Area css
============================================================================================ */
