<div class="cta-area section_gap overlay">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <h1></h1>
        <img class="img-fluid" src="{{volunteerInfo.image}}" alt="{{volunteerInfo.title}}">
        <h1 class="">{{volunteerInfo.text1}}</h1>
        <h4 class="text-uppercase text-primary">{{volunteerInfo.text2}}</h4>
        <p class="text-dark">{{volunteerInfo.subTitle}}</p>
      </div>
    </div>
  </div>
</div>
