<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>{{causesBanner.mainText}}</h2>
                <p>{{causesBanner.subText}}</p>
            </div>
        </div>
    </div>
</section>
<app-major-causes></app-major-causes>
<app-feature-causes></app-feature-causes>
<app-volunteer></app-volunteer>
