<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>{{blogBanner.mainText}}</h2>
                <p>{{blogBanner.subText}}</p>
            </div>
        </div>
    </div>
</section>

<app-blog-categories></app-blog-categories>

<section class="blog_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <app-blog-content></app-blog-content>
          </div>
          <div class="col-lg-4">
              <app-blog-widget></app-blog-widget>
          </div>
      </div>
  </div>
</section>

<app-subscribe></app-subscribe>
