<section class="causes_area section_gap_bottom">
  <div class="container">
    <div class="main_title">
      <h2>{{causeTitle.title}}</h2>
      <p>{{causeTitle.subText}}</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let causes of majorCauses">
        <div class="single_causes">
          <h4>{{causes.title}}</h4>
          <img src="{{causes.image}}" alt="">
          <p>{{causes.text}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
