<footer>
	<div class="footer-area">
		<div class="container">
			<div class="row section_gap">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget tp_widgets">
						<h4 class="footer_title text-warning">{{ footerCol.heading }}</h4>
						<p class="text-justify">{{ footerCol.text }}</p>
					</div>
				</div>
				<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget tp_widgets">
						<h4 class="footer_title text-warning">Quick Links</h4>
						<ul class="list">
							<li *ngFor="let Nav of footerLinks">
								<a routerLink="{{ Nav.link }}">{{ Nav.name }}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget instafeed">
						<h4 class="footer_title text-warning">Gallery</h4>
						<ul class="list instafeed d-flex flex-wrap">
							<li *ngFor="let gallery of galleryList">
								<img src="{{ gallery.image }}" alt="" />
							</li>
						</ul>
					</div>
				</div>
				<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget tp_widgets">
						<h4 class="footer_title text-warning">Contact Us</h4>
						<div class="ml-40">
							<div
								class="sm-head mb-3"
								*ngFor="let quickContact of quickContact"
							>
								<p class="bold">
									<span class="fa {{ quickContact.icon }}"></span>
									{{ quickContact.title }}
								</p>
								<p class="text-muted">{{ quickContact.text }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row d-flex text-center">
				<p class="col-lg-12 footer-text">
					Grace To Grace Charity Foundation, is a D.S.W/6462 tax-exempt
					organization (Act: 179 Ghana Constitution). <br> All donations are
					tax-deductible where allowed by law.
				</p>
				<p class="col-lg-12">
					&copy; {{ currentDate | date }} All rights reserved | Build by
					<a class="text-muted" href="http://rmq.me" target="_blank">RMQ</a>
				</p>
			</div>
		</div>
	</div>
</footer>
