<section class="section_gap story_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="main_title">
          <h2>{{Section.Title}}</h2>
          <p>{{Section.Subtitle}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- single-story -->
      <div class="col-lg-4 col-md-6">
        <div class="single-story">
          <div class="story-thumb">
            <img class="img-fluid" src="assets/img/story/s1.jpg" alt="">
          </div>
          <div class="story-details">
            <div class="story-meta">
              <a routerLink="{{newStory_1.Link}}">
                <span class="lnr lnr-calendar-full"></span>
                {{newStory_1.Date}}
              </a>
              <a routerLink="{{newStory_1.Link}}">
                <span class="lnr lnr-book"></span>
                {{newStory_1.Category}}
              </a>
            </div>
            <h5>
              <a routerLink="{{newStory_1.Link}}">{{newStory_1.Title}}</a>
            </h5>
            <p>{{newStory_1.Subtitle}}</p>
          </div>
        </div>
      </div>

      <!-- single-story -->
      <div class="col-lg-4 col-md-6">
        <div class="single-story">
          <div class="story-thumb">
            <img class="img-fluid" src="assets/img/story/s2.jpg" alt="">
          </div>
          <div class="story-details">
            <div class="story-meta">
              <a routerLink="{{newStory_2.Link}}">
                <span class="lnr lnr-calendar-full"></span>
                {{newStory_2.Date}}
              </a>
              <a routerLink="{{newStory_2.Link}}">
                <span class="lnr lnr-book"></span>
                {{newStory_2.Category}}
              </a>
            </div>
            <h5>
              <a routerLink="{{newStory_2.Link}}">{{newStory_2.Title}}</a>
            </h5>
            <p>{{newStory_2.Subtitle}}</p>
          </div>
        </div>
      </div>

      <!-- single-story -->
      <div class="col-lg-4 col-md-6">
        <div class="single-story">
          <div class="story-thumb">
            <img class="img-fluid" src="assets/img/story/s3.jpg" alt="">
          </div>
          <div class="story-details">
            <div class="story-meta">
              <a routerLink="{{newStory_3.Link}}">
                <span class="lnr lnr-calendar-full"></span>
                {{newStory_3.Date}}
              </a>
              <a routerLink="{{newStory_3.Link}}">
                <span class="lnr lnr-book"></span>
                {{newStory_3.Category}}
              </a>
            </div>
            <h5>
              <a routerLink="{{newStory_3.Link}}">{{newStory_3.Title}}</a>
            </h5>
            <p>{{newStory_3.Subtitle}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
