/* Start Story Area css
============================================================================================ */
.story_area {
  padding-bottom: 100px; }
  @media (max-width: 991px) {
    .story_area {
      padding-bottom: 40px; } }

.single-story {
  margin-bottom: 30px; }
  .single-story .story-thumb {
    position: relative; }
  .single-story .story-details {
    padding-top: 25px; }
    .single-story .story-details .story-meta a {
      display: inline-block;
      color: #777777;
      border-right: 1px solid #999999;
      padding-right: 20px;
      padding-left: 18px;
      font-size: 14px; }
      .single-story .story-details .story-meta a:first-child {
        padding-left: 0px; }
      .single-story .story-details .story-meta a:last-child {
        border-right: 0px; }
    .single-story .story-details .story-meta span {
      padding-right: 10px;
      text-transform: uppercase; }
    .single-story .story-details h5 {
      font-size: 20px;
      margin-top: 15px; }
      .single-story .story-details h5 a {
        color: #222222;
        font-size: 18px;
        line-height: 27px;
        transition: all 300ms linear 0s; }
  .single-story:hover h5 a {
    color: #EE3D23; }

/* End Story Area css
============================================================================================ */
