/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  z-index: 1;
  min-height: 900px;
  display: flex;
  background: linear-gradient(rgba(3, 1, 10, 0.5), rgba(3, 1, 10, 0.5)), url(/assets/img/banner/home-banner.jpg) no-repeat scroll center center;
  background-size: cover; }
  .home_banner_area .banner_inner {
    width: 100%;
    display: flex; }
    .home_banner_area .banner_inner .container {
      vertical-align: middle;
      align-self: center; }
    .home_banner_area .banner_inner .banner_content {
      color: #fff;
      vertical-align: middle;
      align-self: center;
      text-align: center; }
      .home_banner_area .banner_inner .banner_content .upper_text {
        font-size: 50px;
        text-transform: uppercase;
        color: #fdbb00; }
        @media (max-width: 767px) {
          .home_banner_area .banner_inner .banner_content .upper_text {
            font-size: 35px; } }
      .home_banner_area .banner_inner .banner_content h2 {
        color: #ffffff;
        margin-top: 0px;
        font-size: 50px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 20px; }
      .home_banner_area .banner_inner .banner_content p {
        color: #f9f9ff;
        max-width: 680px;
        margin: 0px auto 45px; }
      @media (max-width: 767px) {
        .home_banner_area .banner_inner .banner_content .mr-20 {
          margin-right: 0;
          margin-bottom: 15px; } }

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 500px; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 500px;
    background: transparent;
    z-index: 1; }
    .banner_area .banner_inner .overlay {
      background: linear-gradient(0deg, rgba(6, 13, 1, 0.6), rgba(6, 13, 1, 0.6)), url(/assets/img/banner/banner.jpg) no-repeat scroll center center;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      bottom: 0;
      z-index: -1;
      opacity: 1; }
    .banner_area .banner_inner .banner_content h2 {
      color: #fff;
      font-size: 48px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 10px;
      font-weight: 500; }
    .banner_area .banner_inner .banner_content p {
      color: #ffffff;
      margin-bottom: 0; }

/* End Home Banner Area css
============================================================================================ */


@media (max-width: 991px) {
  .event-details-area .condition-right h2 {
    margin-top: 40px; } }
.event-details-area .condition-right ul {
  padding-left: 0px;
  margin-top: 30px; }
.event-details-area .condition-right li {
  list-style: none;
  margin-bottom: 5px; }
  .event-details-area .condition-right li::before {
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 20px; }
  .event-details-area .condition-right li:nth-child(1)::before {
    content: "\f073"; }
  .event-details-area .condition-right li:nth-child(2)::before {
    content: "\f015"; }
  .event-details-area .condition-right li:nth-child(3)::before {
    content: "\f124"; }
