<section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
          <div class="container">
              <div class="banner_content text-center">
                  <h2>{{EventDetails.title}}</h2>
                  <p>{{EventDetails.introText}}</p>
              </div>
          </div>
      </div>
</section>
<section class="condition-area event-details-area section_gap">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="condition-left">
          <img class="img-fluid" src="assets/img/event/event-details.jpg" alt="">
        </div>
      </div>
      <div class="offset-lg-1 col-lg-5">
        <div class="condition-right">
          <h2 class="mb-20">
            {{EventDetails.title}}</h2>
          <p>{{EventDetails.mainText}}</p>
          <ul>
            <li>{{EventDetails.eventDate}}</li>
            <li>{{EventDetails.eventVenue}}</li>
            <li>{{EventDetails.eventLocation}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-volunteer></app-volunteer>
