<section class="about_area section_gap_bottom">
    <div class="container">
        <div class="row">
            <div class="single_about row">
                <div class="col-lg-6 col-md-12 text-center about_left">
                    <div class="about_thumb">
                        <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about_right">
                    <div class="about_content">
                        <h3 class="text-info">{{aboutIntro.title}}</h3>
                        <p class="text-justify">{{aboutIntro.intro}}</p>
                        <p class="text-justify">{{aboutIntro.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
