<div class="row">
    <div class="col-lg-3">
        <div class="contact_info">
            <div class="info_item" *ngFor="let contact of contactList">
                <i class="lnr {{contact.icon}}"></i>
                <h6>{{contact.title}}</h6>
                <p>{{contact.text}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
                </div>
            </div>
            <div class="col-md-12 text-right">
              <button type="submit" value="submit" class="genric-btn danger">Send Message</button>
            </div>
        </form>
    </div>
</div>
