<section class="banner_area section_gap_bottom">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>{{galleryBanner.mainText}}</h2>
              <p>{{galleryBanner.subText}}</p>
            </div>
        </div>
    </div>
</section>
<app-gallery></app-gallery>
<app-volunteer></app-volunteer>
