<section class="home_banner_area section_gap_bottom">
  <div class="banner_inner">
    <div class="container">
      <div class="banner_content">
        <p class="upper_text">{{homeBanner.title1}}</p>
        <h2>{{data.data.homeBanner.title2}}</h2>
        <p>{{homeBanner.subtitle}}</p>
        <a class="primary_btn mr-20" routerLink="">{{homeBanner.buttonText1}}</a>
      </div>
    </div>
  </div>
</section>

<app-major-causes></app-major-causes>
<app-about-intro></app-about-intro>
<app-feature-causes></app-feature-causes>
<!-- <app-upcoming-events></app-upcoming-events> -->
<app-volunteer></app-volunteer>
<!-- <app-new-story></app-new-story> -->
<!-- <app-subscribe></app-subscribe> -->
