<div class="blog_right_sidebar section_gap_bottom">
  <aside class="single_sidebar_widget search_widget">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Posts" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <i class="lnr lnr-magnifier"></i>
        </button>
      </span>
    </div>
    <!-- /input-group -->
    <div class="br"></div>
  </aside>
  <aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Popular Posts</h3>
    <div class="media post_item">
      <img src="assets/img/blog/popular-post/post1.jpg" alt="post" />
      <div class="media-body">
        <a routerLink="{{ popularPost_1.Link }}"
          ><h3>{{ popularPost_1.Title }}</h3></a
        >
        <p>{{ popularPost_1.Time }}</p>
      </div>
    </div>
    <div class="media post_item">
      <img src="assets/img/blog/popular-post/post2.jpg" alt="post" />
      <div class="media-body">
        <a routerLink="{{ popularPost_2.Link }}"
          ><h3>{{ popularPost_2.Title }}</h3></a
        >
        <p>{{ popularPost_2.Time }}</p>
      </div>
    </div>
    <div class="media post_item">
      <img src="assets/img/blog/popular-post/post3.jpg" alt="post" />
      <div class="media-body">
        <a routerLink="{{ popularPost_3.Link }}"
          ><h3>{{ popularPost_3.Title }}</h3></a
        >
        <p>{{ popularPost_3.Time }}</p>
      </div>
    </div>
    <div class="br"></div>
  </aside>
  <aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">Post Catgories</h4>
    <ul class="list cat-list">
      <li>
        <a routerLink="" class="d-flex justify-content-between">
          <p>{{ postCategory_1.Name }}</p>
          <p>{{ postCategory_1.Number }}</p>
        </a>
      </li>
      <li>
        <a routerLink="" class="d-flex justify-content-between">
          <p>{{ postCategory_2.Name }}</p>
          <p>{{ postCategory_2.Number }}</p>
        </a>
      </li>
      <li>
        <a routerLink="" class="d-flex justify-content-between">
          <p>{{ postCategory_3.Name }}</p>
          <p>{{ postCategory_3.Number }}</p>
        </a>
      </li>
      <li>
        <a routerLink="" class="d-flex justify-content-between">
          <p>{{ postCategory_4.Name }}</p>
          <p>{{ postCategory_4.Number }}</p>
        </a>
      </li>
    </ul>
    <div class="br"></div>
  </aside>
</div>
